.resume-container {
    width: 21cm;
    height: 29.7cm;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 20px 40px;
}

.resume {
    background-color: white;
    top: 0px;
    display: grid;
    margin: 0px;
}

PersonalInfoSection {
    margin: 2000px
}
